body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.App {
  display: flex;
  align-items: center;
  flex-direction: column;
}

table {
  width: 370px;
  border: 1px solid black;
  background-color: blue;
}

td {
  border: 1px solid black;
  border-radius: 50px;
  width: 50px;
  height: 50px;
}

.cell_null {
  background-color: white;
}

.cell_Red {
  background-color: red;
}

.cell_Yellow {
  background-color: yellow;
}